<section class="gallery"> 
    <div class="container">
    



        <div class="row">
            <div class="gallery-filter">
              <span class="filter-item active" data-filter="all">all</span>
              <span class="filter-item" data-filter="watch">App</span>
              <span class="filter-item" data-filter="headphone">Books</span>
              <span class="filter-item" data-filter="camera">Branding</span>
              <span class="filter-item" data-filter="phone">Product</span>
            </div>
           </div>



           <div class="row">

            <!--1st gallery item start -->
            <div class="gallery-item shoe">
              <div class="gallery-item-inner">
                 <img src="../../assets/iPortfolio Bootstrap Template Demo_files/app-1.jpg" alt="shoe">
              </div>
            </div>
           
           
           <!--2nd gallery item start -->
            <div class="gallery-item headphone">
             <div class="gallery-item-inner">
               <img src="../../assets/iPortfolio Bootstrap Template Demo_files/books-1.jpg" alt="headphone">
             </div>
            </div>
           
           
           <!--3rd gallery item start -->
            <div class="gallery-item camera">
             <div class="gallery-item-inner">
               <img src="../../assets/iPortfolio Bootstrap Template Demo_files/branding-1.jpg" alt="camera">
             </div>
            </div>


           <!--4th gallery item start -->
            <div class="gallery-item camera">
             <div class="gallery-item-inner">
               <img src="../../assets/iPortfolio Bootstrap Template Demo_files/product-1.jpg" alt="camera">
             </div>
            </div>
           
           
           <!--5th gallery item start -->
            <div class="gallery-item headphone">
             <div class="gallery-item-inner">
               <img src="../../assets/iPortfolio Bootstrap Template Demo_files/app-2.jpg" alt="headphone">
             </div>
            </div>
           
           
           <!--6th gallery item start -->
            <div class="gallery-item camera">
              <div class="gallery-item-inner">
                <img src="../../assets/iPortfolio Bootstrap Template Demo_files/books-2.jpg" alt="camera">
              </div>
            </div>
           
           
            <!--7th gallery item end -->
            <div class="gallery-item phone">
              <div class="gallery-item-inner">
                <img src="../../assets/iPortfolio Bootstrap Template Demo_files/branding-2.jpg" alt="phone">
              </div>
            </div>

            <!--8th gallery item end -->
            <div class="gallery-item phone">
              <div class="gallery-item-inner">
                <img src="../../assets/iPortfolio Bootstrap Template Demo_files/product-2.jpg" alt="phone">
              </div>
            </div>
           
           
           <!--9th gallery item end -->
            <div class="gallery-item camera">
              <div class="gallery-item-inner">
                <img src="../../assets/iPortfolio Bootstrap Template Demo_files/app-3.jpg" alt="camera">
              </div>
            </div>
           
           
           <!--10th gallery item end -->
            <div class="gallery-item watch">
             <div class="gallery-item-inner">
               <img src="../../assets/iPortfolio Bootstrap Template Demo_files/books-3.jpg" alt="watch">
             </div>
            </div>
           
           
            <!--11th gallery item start -->
            <div class="gallery-item watch">
              <div class="gallery-item-inner">
                <img src="../../assets/iPortfolio Bootstrap Template Demo_files/branding-3.jpg" alt="watch">
              </div>
            </div>

            <!--12th gallery item start -->
            <div class="gallery-item watch">
              <div class="gallery-item-inner">
                <img src="../../assets/iPortfolio Bootstrap Template Demo_files/product-3.jpg" alt="watch">
              </div>
            </div>
           
           </div>
    </div>
</section>