<app-navbar></app-navbar>
<main class="main ml-40 overflow-hidden aos-animate-fade-in-up" style="margin-left: 19%;box-sizing: border-box;border: 1px solid black;">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background" style="width: 100%;">
      <div class="d-flex">
        <img src="../../assets/iPortfolio Bootstrap Template Demo_files/hero-bg.jpg" alt="" data-aos="fade-in" class="aos-init aos-animate">
      

       <div class=" aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <h2 >Alex Smith</h2>
        <p> I'm <span class="typed"
            data-typed-items="Designer, Developer, Freelancer, Photographer">Designer</span>
          <span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span>
          <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
          <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
        </p>
      </div> 


      <!-- <div class="wrapper">
        <h2 >Alex Smith</h2>
        <div class="static-txt">I'am</div>
        <ul class="dynamic-txt">
          <li><span>Designer</span></li>
          <li><span>Developer</span></li>
          <li><span>Freelancer</span></li>
          <li><span>Photographer</span></li>
        </ul>
      </div> -->
   
   
   
    </div>

    </section>
</main>
