<app-navbar></app-navbar>

<main class="main ml-40 overflow-hidden aos-animate-fade-in-up" style="margin-left: 19%;box-sizing: border-box;border: 1px solid black;">

    <!-- Services Section -->
    <section id="services" class="services section">

        <!-- Section Title -->
        <div class="container section-title aos-init aos-animate" data-aos="fade-up">
          <h2 style="text-decoration: underline solid rgb(117, 204, 235);text-align: left;">Services</h2>
          <p style="text-align: left;">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div><!-- End Section Title -->
      
        <div class="container">
      
          <div class="row gy-4">
      
            <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>&nbsp;&nbsp;
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
              </div>
            </div><!-- End Service Item -->
      
            <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>&nbsp;&nbsp;
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Dolor Sitema</a></h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata.</p>
              </div>
            </div><!-- End Service Item -->
      
            <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>&nbsp;&nbsp;
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Sed ut perspiciatis</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div><!-- End Service Item -->
      
            <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
              <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>&nbsp;&nbsp;
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div><!-- End Service Item -->
      
            <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
              <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>&nbsp;&nbsp;
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
              </div>
            </div><!-- End Service Item -->
      
            <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
              <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>&nbsp;&nbsp;
              <div>
                <h4 class="title"><a href="service-details.html" class="stretched-link">Eiusmod Tempor</a></h4>
                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi.</p>
              </div>
            </div><!-- End Service Item -->
      
          </div>
      
        </div>
      
      </section>
      
      
    <!-- End Services Section -->

    <section class="testimonials" style="background-color: rgb(194, 232, 240); text-align: center; padding: 50px 0;">
        <h1>Testimonials</h1>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p><br><br>

        <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Testimonial Item 1 -->
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <div class="testimonial-box"
                            style="background-color: white; width: 30%; border-radius: 5px; padding: 20px; text-align: center;">
                            <i class="bi bi-quote quote-icon-left" style="color: cornflowerblue;"></i>
                            <p>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit
                                rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at
                                semper.</p>
                            <i class="bi bi-quote quote-icon-right" style="color: cornflowerblue;"></i>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="../../assets/iPortfolio Bootstrap Template Demo_files/testimonials-1.jpg"
                            alt="Person 1" style="width: 100px; border-radius: 50%; margin: 10px auto;">
                        <h5>Soul GoodMan</h5>
                        <small>CEO & Founder</small>
                    </div>
                </div>
                <!-- Testimonial Item 2 -->
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="testimonial-box"
                            style="background-color: white; width: 30%; border-radius: 5px; padding: 20px; text-align: center;">
                            <i class="bi bi-quote quote-icon-left" style="color: cornflowerblue;"></i>
                            <p>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid malis
                                quorum velit
                                fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</p>
                            <i class="bi bi-quote quote-icon-right" style="color: cornflowerblue;"></i>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="../../assets/iPortfolio Bootstrap Template Demo_files/testimonials-2.jpg"
                            alt="Person 2" style="width: 100px; border-radius: 50%; margin: 10px auto;">
                        <h5>Sara Wilsson</h5>
                        <small>Designer</small>
                    </div>
                </div>




                <!-- Testimonial Item 3 -->
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="testimonial-box"
                            style="background-color: white; width: 30%; border-radius: 5px; padding: 20px; text-align: center;">
                            <i class="bi bi-quote quote-icon-left" style="color: cornflowerblue;"></i>
                            <p>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam
                                duis minim
                                tempor labore quem eram duis noster aute amet eram fore quis sint minim.</p>
                            <i class="bi bi-quote quote-icon-right" style="color: cornflowerblue;"></i>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="../../assets/iPortfolio Bootstrap Template Demo_files/testimonials-3.jpg"
                            alt="Person 2" style="width: 100px; border-radius: 50%; margin: 10px auto;">
                        <h5>Jena Karlis</h5>
                        <small>Store Owner</small>
                    </div>
                </div>



                <!-- Testimonial Item 4 -->
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="testimonial-box"
                            style="background-color: white; width: 30%; border-radius: 5px; padding: 20px; text-align: center;">
                            <i class="bi bi-quote quote-icon-left" style="color: cornflowerblue;"></i>
                            <p>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat
                                dolor enim duis
                                veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</p>
                            <i class="bi bi-quote quote-icon-right" style="color: cornflowerblue;"></i>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="../../assets/iPortfolio Bootstrap Template Demo_files/testimonials-4.jpg"
                            alt="Person 2" style="width: 100px; border-radius: 50%; margin: 10px auto;">
                        <h5>Matt Brandon</h5>
                        <small>Feelancer</small>
                    </div>
                </div>



                <!-- Testimonial Item 5 -->
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <div class="testimonial-box"
                            style="background-color: white; width: 30%; border-radius: 5px; padding: 20px; text-align: center;">
                            <i class="bi bi-quote quote-icon-left" style="color: cornflowerblue;"></i>
                            <p><span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster
                                    veniam sunt
                                    culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum
                                    quid.</span>
                            </p>
                            <i class="bi bi-quote quote-icon-right" style="color: cornflowerblue;"></i>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="../../assets/iPortfolio Bootstrap Template Demo_files/testimonials-5.jpg"
                            alt="Person 2" style="width: 100px; border-radius: 50%; margin: 10px auto;">
                        <h5>John Larson</h5>
                        <small>Enterpreneur</small>
                    </div>
                </div>

                <!-- Previous Arrow -->
                <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <!-- Next Arrow -->
                <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

<br><br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
            <span class="dot" onclick="currentSlide(4)"></span> 
            <span class="dot" onclick="currentSlide(5)"></span> 
          </div>
    </section>




</main>